.info {
    display: flex;
    gap: 24px;

    .section {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;

        .player {
            font-weight: 500;
            font-size: 24px;
        }

        .score {
            font-weight: 600;
            font-size: 32px;
        }
    }
}