:root {
    /*  Font sizes  */
  --font-size-sm: 16px;
  --font-size-md: 20px;
  --font-size-xl: 24px;
  --font-size-xxl: 32px;

  /*  Font weights  */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

}