.message {
  height: 30px;
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-md);

  & .result {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: blinkScale 0.5s infinite alternate;
  }
}

@keyframes blinkScale {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.4;
  }
}
