.moves {
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  height: 50px;

  .move {
    all: unset;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 6px;
    background-color: var(--dark-color);
    color: var(--light-color);
    font-size: var(--font-size-md);
    transition: opacity 0.2s easy;

    &:hover {
      opacity: 0.9;
    }
  }
}

@media (max-width: 600px) {
  .moves {
    .move {
      padding: 4px 8px;
      font-size: var(--font-size-sm);
    }
  }
}
